<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{resetPassword.subject}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{resetPassword.greeting(${user.firstName})}">Привет, [Имя пользователя]</p>
<p th:text="#{resetPassword.instruction(${user.email})}">Мы получили запрос на установку нового пароля JiraRush для учетной записи: [Электронная почта пользователя]</p>
<a th:href="${resetUrl}" th:text="#{resetPassword.linkText}">Установить пароль</a>
</body>
</html>